*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    width: 100%;
}

.container{
    width: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px 0px;
    margin-top: 180px;
}

#up{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    gap: 20px;
    color: #F5BA3B;
    margin-bottom: 20px;
}

#up>:nth-child(3){
    color: rgb(168, 168, 168);
    font-size: 30px;
}

#up>img{
    width: 200px;
    
}

hr{
    width: 80%;
    margin: auto;
}

/* form{
    text-align: center;
    border: 1px solid rgb(181, 181, 181);
    margin: auto;
    width: 600px;
    position: absolute;
    left: 490px;
    padding: 50px 0px;
} */

form>div{
    display: none;
    /* display: flex; */
    justify-content: center;
    margin: 20px 200px;
}

form>div>:nth-child(1){
    width: 30px;
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 0px;
}

form>div>:nth-child(2){
    font-size: 20px;
    padding: 0px 20px;
}

form>p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

form>:nth-child(4), form>:nth-child(4){
    /* display: block; */
    /* margin: auto; */
    padding: 10px 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    position: absolute;
    left: 685px;
}

form #submit:hover, form #verify:hover{
    background-color: rgb(45, 45, 45);
}

#otp{
    /* display: none; */
    display: flex;
    text-align: center;
    align-items: center;
}

#otp>p{
    width: auto;
    border: none;
    font-weight: 600;
}

#otp>input{
    width: 50px;
    text-align: center;
    border-radius: 5px;
}